{% extends 'main/home.html' %}

{% block title %} Личный кабинет {% endblock %}

{% block content %}
    <div class="login-page">
        <div class="page-title">
            <h2 class="text-center mb-5">
                Авторизація
            </h2>
        </div>
        <div class="login-form">
            <form  action="." method="post" class="auth-form">
                {% csrf_token %}
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">
                            <i class="fas fa-user"></i>
                        </span>
                    </div>
                    {{form.username}}
                </div>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">
                            <i class="fas fa-lock"></i>
                        </span>
                    </div>
                    {{form.password}}
                </div>

            <div class="form-action d-block w-100">

                <input type="submit" value="Log in" class="btn btn-primary w-100">
            </div>

        </form>


        </div>
         <p> Если у вас нет аккаунта вы можете <a href="{% url 'register' %}"> Зарегистрироваться</a> /p>
    </div>
{% endblock %}